@charset "UTF-8";#header
.pageContent{position:relative}.navTabs .navTab.PopupClosed
.navLink{color:#000}.navTabs .navTab.PopupClosed .navLink:hover{text-decoration:underline;color:#000;overflow:hidden}img{max-width:100%}@media(max-width:480px){.Responsive #size-scrip-ads
img{display:none!}}#flexile_header_content{padding:15px;position:absolute;right:0}#flexile_header_content
a{color:#6cb2e4}#QuickSearchQuery{background:#FFF;border-color:rgb(0,0,0);border-color:rgba(0,0,0,.2);_border-color:rgb(0,0,0)}.mainContainer{margin-bottom:25px}.navTabs .navTab.selected
.tabLinks{border-top:1px solid rgb(252, 252, 252);border-top:1px solid rgba(252, 252, 252, 0.42);_border-top:1px solid rgb(252, 252, 252);border-bottom:1px solid #032A46;margin-bottom: -1px}.navTabs .navTab.Popup .PopupControl.PopupOpen .navLink, .navTabs .navTab.Popup.PopupContainerControl.PopupOpen
.navLink{text-shadow:0 0 0 transparent, 0 0 5px rgb(246, 251, 254)}.navTabs .navTab.PopupClosed:hover{background:none}html
#moderatorBar{border-bottom:1px solid #6cb2e4;background-color:#1B1B1B;font-size:12px}html #moderatorBar
.pageContent{padding:0}html #moderatorBar .itemLabel, html #moderatorBar
.itemCount{height:20px;line-height:20px}html #moderatorBar
a{display:inline-block;padding:7px
10px;margin:0;border-radius:0;color:rgba(255,255,255,.65)}html #moderatorBar a:hover, html #moderatorBar
.itemCount{text-decoration:none;background-color:#373737;color:#FFF}html #moderatorBar
.itemCount{padding:1px
7px;margin-left:5px}html #moderatorBar
.itemCount.alert{background:url('https://forum.idichvuseo.com/styles/flexile/flexile/item-gradient.png') #CC0505 top repeat-x;text-shadow:0 1px 0 rgba(0,0,0,0.3);box-shadow:none}#content{padding:10px
0}html.Sidebar #content
.pageContent{padding:0;background:none;border:none;border-radius:0;box-shadow:none}.mainContent{background-color:rgb(252, 252, 255);border:1px
solid #d5d5d5;border-radius:6px;box-shadow:0 0 12px rgba(0, 0, 0, 0.1);padding:0
20px}html.Sidebar
.breadBoxBottom{border:1px
solid #d5d5d5;border-radius:6px;box-shadow:0 0 12px rgba(0,0,0,.1);margin:0;padding:0}html.Sidebar #content
.pageContent{padding:0;background:none;border:none;border-radius:0;box-shadow:none}.breadBoxTop{margin-bottom:20px}.breadBoxBottom{border-radius:0 0 6px 6px;margin-top:20px}.breadBoxBottom
.breadcrumb{border-top-left-radius:0;border-top-right-radius:0;border-bottom-left-radius:6px;border-bottom-right-radius:6px;border-bottom:none;border-top:1px solid #d5d5d5;margin-bottom: -1px}html.Sidebar .breadBoxBottom
.breadcrumb{border-radius:6px;border:none}.sidebar .primaryContent, .sidebar
.secondaryContent{background-color:rgb(252, 252, 255);border:none;padding:0
15px 15px;border:1px
solid #d5d5d5;border-radius:6px;box-shadow:0 0 12px rgba(0, 0, 0, 0.1)}.sidebar .section .primaryContent h3, .sidebar .section .secondaryContent
h3{font-family:Georgia,"Times New Roman",serif;color:#777;border-bottom:1px solid #d5d5d5;border-radius:6px 6px 0 0;margin:0
-15px 15px -15px;padding:10px
15px;background:#F1F1EC url('https://forum.idichvuseo.com/styles/flexile/flexile/navigation-tab.png') repeat-x top}.forum_list .sectionMain, .news_feed_page_global
.sectionMain{border:none;border-radius:0;box-shadow:none}.forum_list
#forums.sectionMain{padding:10px
0;margin:0
0 10px}#QuickSearch{top: -34px;background-color:transparent;right:0}#QuickSearch
.formPopup{background-color:transparent}#QuickSearch.active{background-color:#f0f7fc}.sidebar .section:first-child{margin:0
auto}.sidebar .section.loginButton
.secondaryContent{padding:5px}footer{background:#1B1B1B;color:rgba(255,255,255,.8)}.footer{border-top:5px solid #6cb2e4;border-bottom:1px solid rgb(255,255,255);border-bottom:1px solid rgba(255,255,255, .05);_border-bottom:1px solid rgb(255,255,255);background:url(https://forum.idichvuseo.com/rgba.php?r=255&g=255&b=255&a=6);background:rgba(255,255,255,.025);_filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#06FFFFFF,endColorstr=#06FFFFFF);margin-bottom:10px}.footerLegal
.pageContent{text-align:left}.footerLegal .pageContent
.debugInfo{text-align:right}@media (max-width: 800px){.Responsive
.mainContent{padding-left:10px;padding-right:10px}.Responsive
#copyright{float:none;margin-bottom:10px}.Responsive .footerLegal .pageContent, .Responsive .footerLegal .pageContent
.debugInfo{text-align:center}.Responsive .breadBoxTop, .Responsive
.breadBoxBottom{margin-left: -10px;margin-right: -10px}.Responsive .breadBoxTop.withTopCtrl, .Responsive .breadBoxTop.withTopCtrl
nav{display:block;width:auto}.Responsive .breadBoxTop.withTopCtrl
.topCtrl{margin:0;padding:5px;border-bottom:1px solid #d5d5d5;display:block;float:none;text-align:center}.Responsive .breadBoxTop.withTopCtrl .topCtrl
.callToAction{float:none;text-align:center}}@media (max-width: 610px){.Responsive
#logo{float:none;text-align:center;margin:0
auto}.Responsive
#flexile_header_content{position:static;width:auto;max-width:none;margin:0
10px 20px 10px}}@media (max-width: 480px){.Responsive .breadBoxTop.withTopCtrl .topCtrl
.callToAction{display:block}}/* CSS saved with [bd] Cache (https://forum.idichvuseo.com/css.php?css=flexile,&style=11&dir=LTR&d=1492145418) */